body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #2b2f36;*/
    background: url(/images/brewery.png) no-repeat fixed;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px 0px 15px;
    align-items: center;
    margin: 30px 400px 100px 400px;
}

#logo {
    width: 321.43px;
    height: 349.37px;
}

h1, p {
    color: #eff0ec;
}

form {
    display: inline-flex;
    flex-direction: column;
    background-color: #eff0eccc;
    padding: 30px 30px;
    border-radius: 5px;
}

input, label {
    margin-bottom: 10px;
}

#name, #email, #number, #dropdown {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    margin-bottom: 40px;
}

#submit {
    margin-top: 30px;
    border: none;
    background-color: #f44336;
    width: 600px;
    height: 35px;
    border-radius: 5px;
}

.beer-list {
    display: inline-block;
    width: 200px;
    text-align: left;
}