body {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
    padding: 20px 15px;
    align-items: center;
    border: 1px solid red;
}

form {
    display: inline-flex;
    flex-direction: column;
}

input, label {
    margin-bottom: 10px;
}
